/* @font-face {
    font-family: 'MyCustomFontRegular';
    src: url('/fonts/Geologica_Auto-Regular.ttf') format('truetype');

  }


  @font-face {
    font-family: 'MyCustomFontMedium';
    src: url('/fonts/IBMPlexSansThai-Medium.ttf') format('truetype');

  }


  @font-face {
    font-family: 'MyCustomFontMedium';
    src: url('/fonts/IBMPlexSansThai-Medium.ttf') format('truetype');

  }




  
  

  body {
    font-family: 'MyCustomFontRegular', 'MyCustomFontMedium', 'Geologica_Regular', sans-serif, serif;
  } */
  


  /* font-family: 'DM Serif Display', serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */


