
* {
    scroll-behavior: smooth;
    list-style-type: none;
}

.members img {
    width: 900px;
}

.main {
    /* display: flex; */
    overflow-x: hidden;
    
    /* justify-content: space-between; */
}

* {
    
    /* font-family: 'Geologica_Regular', 'IBM Plex Sans', 'MyCustomFontMedium', 'DM Serif Display', 'Open Sans', sans-serif, serif; */
    /* font-family: 'MyCustomFontRegular', 'MyCustomFontMedium', 'Geologica_Regular', sans-serif, serif; */
    /* font-family:   
    'Geologica', sans-serif,
    'IBM Plex Sans', sans-serif; */
    /* 'DM Serif Display', serif, */

    /* 'Open Sans', sans-serif; */

    font-family: 'DM Serif Display', serif;
font-family: 'Geologica', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Sans Thai', sans-serif;
/* font-family: 'Open Sans', sans-serif; */
    word-spacing: 0.3rem;
    letter-spacing: 0.05rem;
}

p {
    font-size: 20px;
}

.home {
    margin-top: 25px;
    margin-left: 10px;
}

.home img {
    width: 100%;

    /* margin-left: 750px;


    height: auto;
    margin-top: 50px;

    margin-bottom: 100px; */

}

/* .slide-2 {
    width: 83%;
    height: auto;
    margin-top: 50px;
    margin-left: 90px;
    margin-bottom: 100px;
} */

.carousel-home .carousel-control-prev {
    margin-left: 740px;
    margin-top: -50px;
}

.carousel-home .carousel-control-next {

    margin-top: -50px;
}


.child .icon {
    margin: auto;
    margin-top: 70px;
}



.home-team img {
    width: 70%;
    margin-inline: auto;
}


/* .main-content {
    position:absolute;
    width: 45%;
    top: 35%;
    left: 3%;
    z-index: 1;
} */


.services {
    height: 65vh;
    position:relative;
    margin-top: 150px;
}

.service {
    position: relative;
    height: 320px;
    width: 400px;
    z-index: 1;
}

.child {
    position: absolute;

    /* height: 250px; */
    width: 400px;
    bottom: 3%;
    right: 3%;
    z-index: 2;
}

.child img {
    width: 400px;
    height: 320px;
    object-fit: cover;
}


.element1 {
    width: 280px;
    height: 280px;
    position: absolute;
    bottom: -16%;
    left: -6%;
}

.element2 {
    width: 280px;
    height: 280px;
    position: absolute;
    bottom: -28%;
    right: -4%;
    z-index: -1;
}

.element3 {
    width: 250px;
    height: 250px;
    position: absolute;
    top: -15%;
    right: -6%;
    z-index: -1;
}


/* #main {
    position: relative;
} */

.content {
    position: relative;
    height: 500px;
    width: 600px;
    background-color: rgb(205, 39, 55);
    z-index: 1;
    left: 20%;
  
}

.main-photo {
    position: absolute;
    height: 500px;
    width: 600px;
    background-color: aqua;
    z-index: -1;
    left: 80%;
    bottom: 0.1%;
}

/* .main-photo img {
    position: absolute;

    
    z-index: -1;
    left: 80%;
    display: block;
    box-shadow: -16px 25px 20px -6px rgba(56,71,46,0.66);
    -webkit-box-shadow: -16px 25px 20px -6px rgba(56,71,46,0.66);
    -moz-box-shadow: -16px 25px 20px -6px rgba(56,71,46,0.66);
} */


/* Custom CSS for overlay effect */
.carousel-item {
    position: relative;
    filter: blur(8px); /* Adjust the blur amount as needed */
    z-index: 1;
  }
  
  .carousel-item.active {
    filter: blur(0); /* Remove blur for the active item */
    z-index: 2;
  }
  
  .carousel-inner {
    position: relative;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    z-index: 3;
  }


.home-team {
    margin-top: 150px !important;
    /* background-color: red; */
}
  

.book-now {
    position: fixed;
    top: 50%;
    right: 0;

    margin-right: -48px;
    transform: translateY(-50%) rotate(-90deg);
    z-index: 1000;
   
  }
  
  .book-now-button {
    background-color: #C4A962;
    color: #E8E5D7;
    font-size: 18px;
    padding: 10px 18px;
    border: none;
    /* border-radius: 50px; */
    /* transform: rotate(-90deg); */

    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .book-now-button:hover {
    background-color: #C4A962;
   
  }
  


/* @media (max-width: 640px) {
    .service {
        height: 100px;
        width: 100px;
        z-index: 1;
    }
    .child {
        height: 100px;
        width: 100px;
        z-index: 2;
    }
  } */



/* @media(min-width: 1441px) and (max-width: 1490px) {
    .home-team {
        margin-top: 400px !important;
    }
} */

  @media(max-width: 1440px){

    .home-services {
        height: auto;
        margin-top: 50px;
       
    }
    

    .home-team {
        margin-top: 450px !important;
    }


    .home img {
        width: 100% !important;
        /* margin-top: 10px; */
    }

  }

  @media(max-width: 1345px) {
    .home-team {
        margin-top: 500px !important;
    }
  }



  @media(max-width: 1281px){

    .home-services {
        height: auto;
        margin-top: 50px;
       
    }


    .home-team {
        margin-top: 500px !important;
        /* background-color: red; */
    }

    /* .main-content {
        width: 40%;
    } */

    .home img {
        width: 100% !important;
    /* margin-left: 560px; */
        margin-top: 50px;
    }

    /* .main-content {
        position:absolute;
        width: 40%;
        top: 35%;
        left: 3%;
        z-index: 1;
        background-color: red;
    } */

  }

  /* @media(max-width: 1210px) {
    .home-team {
        margin-top: 800px !important;
        background-color: red;

    }
  } */
  /* @media(max-width: ) */

  @media(max-width: 995px) {
    .home-team {
        margin-top: 750px !important;
    }
  }


  @media (max-width: 992px) {

    /* .service {
        height: 200px;
        width: 200px;
        z-index: 1;
    }
    

    .services {
        height: auto;

    }
    .child {
        position: absolute;
        right: 4.5%;
        bottom: 4.5%;
        height: 200px;
        width: 200px;
        z-index: 2;
    }

    .team {
        margin-top: 30px;
    }

    .main-content {

        width: 90%;
        height: 25%;
        overflow: auto;
        padding: 5px 0;

        top: 28%;
        margin-left: 20px;
        padding: 20px;

        z-index: 100;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    }


    .carousel-home img {
        width: 100%;
        height: 100%;
        margin: auto;
        z-index: 0;
    } */
    .carousel-home .carousel-control-prev {
        /* margin-left: 740px; */
        margin-left: 5px;
        margin-top: -50px;
        /* background-color: red; */
    }
    
    .carousel-home .carousel-control-next {
    
        margin-top: -50px;
    }
    
    .home {
        margin: auto;
    }

    .main-content {
        margin-top: -50px;
    }

    .service {
        height: 200px;
        width: 400px;
        z-index: 1;
        display: inline-block;
        margin: auto;
        height: auto;
    }

    .services {
        height: auto;
        margin-top: 0px;
       
    }
    .child {
        position: absolute;
        right: 4.5%;
        bottom: 4.5%;
        height: 200px;
        width: 200px;
        z-index: 2;
    }

    .home-team {
        margin-top: 60px !important;
        /* background-color: red; */
    }

    /* .main-content {

        width: 90%;
        height: 28%;
        overflow: auto;
        padding: 5px 0;

        top: 30%;
        margin-left: 20px;
        padding: 20px;

        z-index: 100;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    } */


    .carousel-home img {
        width: 100%;
        height: 100%;
        margin: auto;
        z-index: 0;
    }


    .home img {
        /* position: relative; */
        /* display: flex; */
        /* width: 70%;
        height: auto; */
        /* margin-left: 750px; */
    
        width: 100% !important;
    
        height: auto;
        margin-top: 50px;
    
        margin-bottom: 100px;
  }


  /* .main-content {

    order: unset; 
    z-index: 999;
    height: 100%;
    overflow: hidden;
   
    margin-top: 400px;
    
} */

.child {
    display: inline-block;
    margin: auto;
    height: auto;
    width: 80%;
}

.child {
    position: relative; /* Remove absolute positioning */
    width: 400px;
    right: 7%;
    bottom: 3%;
}

.child img {
    width: 100%;
    height: auto;

}

  }


  @media (max-width: 768px) {

    .home {
        margin-top: 25px;
        margin-left: 0px;
    }

    .carousel-home .carousel-control-prev {
        /* margin-left: 740px; */
        margin-left: 5px;
        margin-top: -50px;
        /* background-color: red; */
    }
    
    .carousel-home .carousel-control-next {
    
        margin-top: -50px;
    }
    

    .service {
        height: 200px;
        width: 400px;
        z-index: 1;
        display: inline-block;
        margin: auto;
        height: auto;
    }

    /* .services {
        height: auto;
        margin-top: 0px;
    } */
    .child {
        position: absolute;
        right: 4.5%;
        bottom: 4.5%;
        height: 200px;
        width: 200px;
        z-index: 2;
    }

    .team {
        margin-top: 30px;
    }

    .main-content {

        margin:auto;
        width: 100%;
        overflow: auto;
        padding: 5px 0;
        padding: 20px;
        z-index: 100;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
    }


    .carousel-home img {
        width: 100%;
        height: 100%;
        margin: auto;
        z-index: 0;
    }


    .home img {
        /* width: 100% !important; */
    
        height: auto;
        margin-top: 50px;
        margin-bottom: 100px;
  }


  /* .main-content {
    order: unset; 
    z-index: 999;
    height: 100%;
    overflow: hidden;
    
} */

/* .services{
    margin-top: 400px;
} */


.child {
    display: inline-block;
    margin: auto;
    height: auto;
    width: 80%;
}

.child {
    position: relative; /* Remove absolute positioning */
    width: 400px;
    right: 7%;
    bottom: 3%;
    /* margin-top: 20px;  */
}

.child img {
    width: 100%;
    height: auto; /* Allow the height to adjust proportionally */
    /* margin-bottom: 20px; */
/* object-fit: cover; */

}

    
  }
  
 
  @media (max-width: 576px) {

    .carousel-home .carousel-control-prev {
        margin-left: 100px;
        margin-top: -20px;
    }
    
    .carousel-home .carousel-control-next {
        margin-right: -20px;
        margin-top: -20px;
    }
    



    .home img {
        margin: auto;
        width: 100% !important;
    }

    .carousel-control-prev {
        left: -100px !important;
    }
    
    .carousel-control-next {
        right: -50px;
    }


    .service,
    .child {
        display: inline-block;
        margin: auto;
        height: auto;
        width: 280px;
    }

    .child {
        position: relative;
        width: 280px;
        right: 9%;
        bottom: 5%;
      
    }
    
    .child img {
        width: 100%;
        height: auto; 


    }



    .team {
        margin-top: 30px;
    }



    .main-content {
    
        width: 100%;
        order: unset; 
        z-index: 0;
        overflow: auto;
        
    }


    .carousel-home img {
        width: 100%;
        height: auto;
        margin: auto;
        z-index: 0;
    }

    p {
        font-size: 18px;
    }



  }


@media(max-width: 380px)
{
    .carousel-home .carousel-control-prev {
        /* margin-left: 740px; */
        margin-left: 100px;
        margin-top: -20px;
        /* background-color: red; */
    }
    
    .carousel-home .carousel-control-next {
        margin-right: -20px;
        margin-top: -20px;
    }

    .main-content {
        /* width: 320px;  */
        order: unset; 
        z-index: 0;
        height: 50%;
        overflow: auto;
        /* margin-top: 170px; */
        
    }

    /* .services {
        margin-top: 150px;
    } */
}

@media (max-width: 376px)

{

    .main-content {
        order: unset; 
        z-index: 0;
        height: 50%;
        overflow: auto;
        
    }

}