* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .box {

    position: relative;
} */


/* .products img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 3px 10px 7px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
} */
.product-card {
    min-height: 10rem;
}

.product-card h5 {
    margin-top: 40px;
}

.box {
    margin:0 8px;
}

/* .image103 {
    width: 90%;
    height: 50%;
    margin: auto;
} */

.product-image {
    display: block;
    width: 50%;
    margin: auto;
    border-radius: 8px;
}

.slide-text {
    text-align: justify;
}

.one-set {
    width: 70%;
    margin: auto;
}

.one-set li {
    text-align: justify;
    margin-top: 15px;
    color: #E8E5D7;
}

.vol1 {
    display: flex;
    justify-content: space-between;
    width: 52rem;
    margin-left: -30px;
    height: 8rem;
    /* background-color: red; */
}

.vol1 li {
    margin-top: 15px;
    color: #E8E5D7;
    
}

.buy-now1 {
    margin-top: 5px;
}


/* .carousel-caption p, h5 {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
} */

.carousel-control-prev {
    left: -20px;
}

.carousel-control-next {
    right: -20px;
}


.carousel-control-prev-icon {
    transition: all 0.5s;
}

.carousel-control-next-icon {
    transition: all 0.5s;
}

.carousel-control-prev-icon:hover {
    background-color: #040406;
    border-radius: 30px;
}

.carousel-control-next-icon:hover {
    background-color: #040406;
    border-radius: 30px;
}

.images {
    margin-top: 50px;
    /* padding: 20px; */
 
}

.magnify-cards {
    margin-left: -30px;
}

.box img {
    border-radius: 8px;
    width: 100%;
}

.wrapper {
    /* max-width: 100%; */
    margin: auto;
    column-count: 3;
    padding: 10px;
}

/* .box {
    width: 80vh;
    display: inline-block;
    margin-bottom: 8px;
    overflow: hidden;
} */

/* .box img {
    width: 50%;
    
    border-radius: 5px;

    transition: 0.5s ease;

} */


/* .box:hover img {
    transform: scale(1.1);
    opacity: 0.8;
    
} */


/* large device */
@media(max-width: 992px) {
    .wrapper {
        column-count: 3;       
    }

    .text {
        text-align: justify;

    }
}

/* medium device */
@media(max-width: 768px) {
    .wrapper {
        column-count: 2;       
    }

    .text {
        margin-top: 20px;
        text-align: justify;
    }
}

/* small device */
@media(max-width: 576px) {
    .wrapper {
        column-count: 1;       
    }

    .text {
        text-align: unset;
    }

    .carousel-control-prev {
        left: 20px;
    }
    
    .carousel-control-next {
        right: 20px;
    }

    .carousel-item img {
        display: block;
        width: 100%;
        margin: auto;
    }

    .product-content {
        margin-top: 20px;
    }


    .one-set {
        width: 100%;
        margin: auto;
    }
    
    .one-set li {
        text-align: left;
        margin-top: 15px;
        color: #E8E5D7;
    }

    .buy-now {
        margin-top: 20px;
    }

    .vol1 {
        display: block;

        width: 52rem;
        margin-left: -30px;
        height: 8rem;
        /* background-color: red; */
    }
    
    .vol1 li {
        margin-top: 15px;
        color: #E8E5D7;
        
    }

    .buy-now1 {
        margin-top: 160px;
    }
    
}

/* .box:hover img:nth-child(1) {
    transform: translateX(290px);
}

.box:hover img:nth-child(1) {
    transform: translateX(-290px);
} */

  
  
  