
.sections {
    margin-top: 50px;
}

.sections ul {
    margin-top: 15px;
    padding: 5px 10px;
    color: #C4A962;
}

.sections ul li {
    margin: 5px 0;
}

.sections ul li:hover {
    text-decoration: underline;
    
}

/* .card-text ul {
    list-style-type: disc;
} */

.card-text ul li {
    padding: 5px 0;
    font-size: large;
    color: #E8E5D7;
}

.card-body {
    min-height: 24rem;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.card-body {
    border-radius: 0 0 10px 10px;
}

.sections {
    transition: all 0.3s;
}

.sections:hover {
    transform: scale(1.05); /* Apply the transform on hover */
    /* background: rgba(0, 0, 0, 0.7); */
}

/* .sections h5 {
    color: #E8E5D7;
} */


/* @media (max-width: 992px) {
    .card-body {
        min-height: 30rem;
    }
} */


@media (max-width: 576px) {
    .card-body {
        min-height: auto;
    }
}

