/* Default styles for larger screens */
body {
  overflow-x: hidden;
}

hr {
  color: #E8E5D7;
  width: 60%;
  margin: auto;
}

.members {
  background-color: #040406;

}

.team-info a {
  text-decoration: underline;
}

.team {
  display: flex;
  padding: 10px;
  margin-top: 50px;
  
}

.team-image {
  width: 55%;
  /* display: flex;
  align-items: center; */
}


.team-info {
  width: 50%;
  padding: 20px;
  margin: auto;
  margin-left: -100px;
  
}


.team1 {
  display: flex;
  padding: 20px;
  margin-top: 50px;
  /* background-color: #040406; */
}

.team-info1 {
  /* height: 420px; */
  width: 50%;
  margin-left: 100px;
  margin: auto;

}



.team-image1 {
  width: 50%;
  /* display: flex;
  align-items: center; */
  margin-right: 20px;
  /* margin: auto; */
}

  



/* .info1:hover::-webkit-scrollbar-thumb:hover {
    background: #C4A962;
} */


@media (max-width: 992px) {

  .photo {
    margin: auto;

  }

  .person {
    flex-direction: column; /* Vertical layout for small screens */
  }

  .info1 {
    order: 1; /* Swap order on small screens */
  }

  .photo1 {
    order: 2; /* Swap order on small screens */
  }

  .info, .info1 {
    /* background-color: red; */
      width: 100%;
      height: 100%;
      overflow: hidden;
  }
}
  
  /* Media query for small screens (adjust the breakpoint as needed) */
  @media (max-width: 576px) {
    .person {
      flex-direction: column; /* Vertical layout for small screens */
    }

    .photo {
      width: 100%;
    }

    .photo img {
      width: 100%;
    }
  
    .info1 {
      order: 1; /* Swap order on small screens */
    }
  
    .photo1 {
      order: 2; /* Swap order on small screens */
    }

    .info, .info1 {
      /* background-color: red; */
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .name, .category {
      text-align: center;
    }


    .team {
      display: block;
      
    }
    
    .team-image {
      width: 100%;
      margin-top: 1px;
     
    }
    
    .photo img {
      width: 100%;
    }
    
    .team-info {
      margin: auto;
      padding: 20px;
      width: 100%;
    }



    .team1 {
      display: flex;
      flex-direction: column;
      /* background-color: #040406; */
    }
    
    .team-info1 {

      width: 100%;
      margin: auto;
      order: 2;
    }
    
    
    
    .team-image1 {
      width: 100%;
      order: 1;
    }

    hr {
      width: 70%;
    }
  }
  