

.a5 {
    display: flex;
    margin-top: 50px;
    /* justify-content: space-between; */
}

.a5 img {
  width: 40%;
  height: 100%;
}

.about {
  width: 60%;
  /* background-color: red; */
}

.react-carousel {
  width: 75%;
}

.a5 ul {

  list-style-type: disc;

}

@media (max-width: 992px) {
  .a5 {
        
    display: inline-block;

}

.a5 .about {
    margin-top: 15px;
    
}

.a5 img {
  width: 100%;
  
}

.about {
  width: 100%;
  /* background-color: red; */
}

.react-carousel {
  width: 100%;
}


  }
  
 
  @media (max-width: 576px) {

    .a5 {
        display: inline-block;

    }

    .a5 .about {
        margin-top: 15px;
        
    }

    .a5 img {
      width: 100%;
      
    }
    
    .about {
      width: 100%;
      /* background-color: red; */
    }

    .react-carousel {
      width: 100%;
    }
    
    
  }