.a1 {
  display: flex;
  margin-top: 30px;
  padding: 30px;
}
html {
  scroll-behavior: smooth;
}


.a1a1 {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  padding: 30px;
}

.a1 img {
  width: 40%;
}

.a1a1 img {
  width: 40%;
}

.a1a1 .button1 {
  margin-left: 70px;
  margin-top: 40px;
}

.button-1,
.button-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  width: 120px;
  height: 35px;
}

.button-1,
.button-2 {
  background-color: #c4a962; /* Set the background color for the BOOK NOW button */
  color: #e8e5d7;
}

/* .button {
margin-left: 100px;
  margin-top: 100px;
} */

.about {
  /* margin-top: 20px; */
  width: 100%;
  /* padding: 0; */
}

.about .price {
  /* padding: 5px 0; */
  display: flex;
  justify-content: center;
  margin-left: 80px;
  margin: 5px 0px;
}

.about .price .button {
  margin-left: 20px;
}

.about .price p small {
  margin-top: 3px;
  margin-right: 20px;

  font: bolder;
  color: #e8e5d7;
}

/* .about .price p b {
  background-color: red;
  width: 50%;
} */

.about .price p {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 65%;
  /* margin-left: 30px; */
  color: #e8e5d7;
  /* background-color: red; */
}



.about .price p .price1 {
  margin-right: 9rem;
}

.about .price p .span {

  width: 56%;
}

.about .price p .price2 {
  margin-right: 5.1rem !important;
}

.about .price p .price2Unit {
  width: 42% !important;
}

.about .price p .unit {
  margin-right: 93px;
}

.about .price p .price3 {
  margin-right: 7.5rem;
}

.about .price p .price06 {
  margin-right: 4.4rem;
}

.about .price p .price3Unit {
  width: 52%;
  /* background-color: red; */
}

.about .price p .price5 {
  margin-right: 65px;
}

.about .price p .price6 {
  margin-right: 20px;
  /* background-color: red; */
}



.about .price p .price7 {
  margin-right: 42px;
}

.about .price p .price8 {
  margin-right: 40px;
}

.about .price p .price9Span {
  width: 63%;
}

.about .price p .price9 {
  margin-right: 55px;
  /* background-color: red; */
}

.about .price p .price02 {
  margin-right: 2.6rem;
}

.about .price p .price02Unit {
  width: 53%;
}

.about .price p .p7 {
  margin-right: 2.5rem;
}

.about .price p .p7Value {
  width: 52%;
}

.about .price p .p12 {
  margin-right: 5.1rem;
}

.about .price p .p13 {
  margin-right: 4.4rem;
}

.about .price p .p13Value {
  width: 52%;
}

.about .price p .tp12{
  margin-right: 3.3rem;
}

.about .price p .tp12Value {
  width: 30%;
}

.about .price p .tp13 {
  margin-right: 40px;
  margin-top: 2.5px;
}

.about .price p .tp13Value {
  width: 53%;
}

.about li {
  display: flex;
  margin-top: 2px;
  /* padding-top: 5px; */
  margin-left: -15px;
}

.about li p {
  margin-left: 25px;
}

.a1 .button button {
  transition: all 0.3s;
}

.a1 .button button:hover {
  background-color: #e8e5d7;
  color: #c4a962;
}

.a1b {
  display: flex;
  justify-content: space-between;
}

.a1b .card-1 {
  width: 38rem;
}

.about .price p .price01 {
  margin-right: 40px;
}

/* @media (max-width: 992px) {
  .a1 {
    display: inline-block;
  }

  .a1 .about {
    margin-top: 15px;
  }

  .a1 img {
    width: 40%;
    height: 100%;
  }

  .about {
    width: 100%;
  }

  .about .price p .price4 {
    margin-right: 25px;
  }
} */

@media (max-width: 992px) {
  .react-carousel {
    width: 100%;
  }

  .a1 {
    display: block;
    margin-top: 50px;
    padding: 30px;
  }

  .a1 img {
    margin: auto;
    width: 90%;
  }

  .about .price p {
    width: 100%;
  }

  .about .price p .price01 {
    margin-right: 25px;
  }

  .about .price .session2 {
    width: 62%;
    /* background-color: red; */
  }

  .about .price .price9Span {
    width: 65% !important;
  }

  .about .price p .price8 {
    margin-right: 25px;
  }
  
  .about .price p .price2 {
    margin-right: 4.4rem !important;
  }
  
  .about .price p .unit {
    margin-right: 5rem;
    /* background-color: red; */
  }



  .about .price p .span {
    /* margin-top: 5px; */
    width: 100%;
  }

  .about .price p .price2Unit {
    width: 44%;
    /* background-color: red; */
  }

  .about .price p .price06 {
    margin-right: 3.5rem;
  }

  .about .price p .price3Unit {
    width: 53%;
  }

  .about .price p .price3 {
    /* margin-top: 9.5px; */
    margin-right: 62px;
  }

  .about .price p .price5 {
    /* margin-top: 9.5px; */
    margin-right: 55px;
  }

  .about .price p .price4 {
    margin-right: 75px;
    /* background-color: red; */
  }

  .about .price p .price6 {
    /* margin-top: 9.5px; */
    margin-right: 55px;

  }

  .about .price p .price7 {
    margin-top: 2px;
    margin-right: 30px;
  }

  .about .price p .price9 {
    margin-right: 43px;
  }

  .about .price p .p6 {
    margin-right: 2.7rem;
  }


  .about .price p .p6Value {
    width: 30%;
  }

  .about .price p .p7 {
    margin-right: 1.2rem;
  }

  .about .price p .p7Value {
    width: 58%;
  }

  .about .price p .p12 {
    margin-right: 4.3rem;
    margin-top: 3.5px;
  }

  .about .price p .p13 {
    margin-right: 3.6rem;
  }

  .about .price p .p13Value {
    width: 53%;
  }

  .about .price p .tp12 {
    margin-right: 28px;
  }

  .about .price p .tp12Value {
    width: 34%;
  }

  .about .price p .tp13 {
    margin-right: 16px;
  }

  .about .price p .tp13Value {
    width: 60%;
  }
}

@media (max-width: 768px) {

  .about {
    margin-top: 25px;
  }

  .a1 img {
    width: 100%;
  }

  .a1b {
    display: block;
  }

  .a1b .card-1 {
    width: 100%;
  }

  .a1b .card-1 h5 {
    font-size: x-large;
    /* padding-bottom: 20px; */
  }

  .about .price p {
    /* display: flex; */
    /* justify-content: space-around; */
    width: 80%;
  }

  .about .price p .price01 {
    margin-right: 25px;
  }

  .about .price .session2 {
    width: 62%;
    /* background-color: red; */
  }

  .about .price .price9Span {
    width: 65% !important;
  }

  .about .price p .price2 {
    margin-right: 4.4rem !important;
    /* background-color: red; */
  }

  .about .price p .span {
    /* margin-top: 5px; */
    width: 97% !important;
  }

  .about .price p .price2Unit {
    width: 42%;
    /* background-color: red; */
  }


  .about .price li span {
    margin-top: 5px;
  }

  .about .price p small {
    margin-top: 3.5px;
    /* margin-right: 30px; */
    font: bolder;
    color: #e8e5d7;
  }

  /* .about .price p .priceTHB {
    background-color: red !important;
  } */
  .about .price p .span {
    width: 58%;
  }
  
  .about .price p .price2 {
    margin-right: 69px;
  }
  
  .about .price p .unit {
    margin-right: 80px;
  }

  .about .price p .price1 {
    margin-left: 30px !important;
  }

  

  .about .price p .price3 {
    /* margin-top: 9.5px; */
    margin-right: 32px;
  }

  .about .price p .price4 {
    margin-right: 45px;
  }
  
  .about .price p .price9 {
    margin-right: 55px;
  }

  .about .price p .price5 {
    /* margin-top: 9.5px; */
    margin-right: 50px;
  }

  .about .price p .price6 {
    margin-top: 3px;
    margin-right: 55px;
  }

  .about .price p .price7 {
    /* margin-top: 9.5px; */
    margin-right: 37px;
  }
  
  .about .price p .price9 {
    margin-top: 3px;
    margin-right: 43px;
  }

  .about .price p .p7 {
    margin-top: 2px;
  }
}

@media (max-width: 576px) {

  .about .price .single {
    /* background-color: red; */
    width: 70%;
  }

  .about .price p .span {
    /* background-color: red; */
    width: 130%;
  }

  .about .price p .price2Unit {
    margin-right: 5px;
  }


  .about .price .singleUnit {
    width: 20%;
    /* margin-right: 20px; */
  }

  .session2 {
    /* margin-right: 27px !important; */
    width: 110% !important;
  }
  
  .about .price .price9Span {
    width: 110% !important;
  }

  .about .price .price01 {
    /* background-color: red; */
    margin-top: 9px;
    margin-right: 40px !important;
  }
  
  .about .price p .price2 {
    /* margin: 8px 5px !important; */
    margin-top: 9px !important;
    margin-right: 18px !important;
    /* margin-right: 5px; */
    /* background-color: red; */
  }
  
  .about .price p .unit {
    margin-right: 28px;
    margin-top: 9px;
  }

  .about .price p .price06 {
    margin-right: 10px;
    margin-top: 9px;
  }

  .about .price p .price3Unit {
    width: 53%;
  }

  .about .price p .p12 {
    margin-right: 22px;
    margin-top: 9px;
  }

  .about .price p .p13 {
    margin-right: 12px;
    margin-top: 9px;
  }

  .about .price p .tp12 {
    margin-top: 9.5px;
    margin-right: 14px;
  }

  .about .price p .tp13 {
    margin-top: 9.5px;
    margin-right: 14px;
  }

  .about .price p .single01 {
    margin-right: 10px;
  }

  .a1 {
    display: block;
    /* padding: 2px 10px; */
  }

  .a1 .about {
    margin-top: 15px;
  }

  .a1 img {
    width: 100%;
  }

  .a1a1 img {
    width: 100%;
  }

  .about {
    width: 100%;
  }

  .react-carousel {
    width: 100%;
  }

  .a1b {
    display: block;
  }

  .a1b img {
    width: 100%;
  }

  .a1b .card-1 {
    max-width: 100%;
    margin: auto;
  }

  .a1 .button {
    /* width: 100%; */
    text-align: center;
    margin-right: 50px;
  }

  /* .button1 {
    text-align: center;
    margin-top: 25px;
  }
   */

  .about li {
    display: flex;
    padding-top: 5px;
    margin: auto;
  }

  .about .bi-translate {
    width: 20px;
    height: 20px;
  }

  .about .bi-clock {
    margin-left: -5px;
  }

  .about .bi-terminal {
    width: 40px;
    height: 40px;
    margin-left: -3px;
  }

  .about .bi-cash-stack {
    width: 55px;

    /* height: 55px; */
    margin-left: -10px;
  }

  .about .price p small {
    margin-top: 2px;
    font: bolder;
    color: #e8e5d7;
  }

  .about .price p .price1 {
    margin-top: 9.5px;
    margin-right: 35px;
  }

  .about .price p .price2 {
    margin-top: 10px;
    margin-right: 15px !important;
  }

  .about .price p .price2Unit {
    width: 37% !important;
  }

  .about .price p .price3 {
    margin-top: 10px;

    margin-right: 10px;
  }

  .about .price p .price4 {
    margin-top: 10px;
    margin-right: 22px;
  }

  .about .price p .price5 {
    margin-right: 25px;
  }

  .about .price p .price6 {
    margin-right: 25px;
    margin-top: 10px;
  }

  .about .price p .price7 {
    margin-right: 13px;
    margin-top: 10px;
  }

  .about .price p .price8 {
    margin-right: 40px;
    margin-top: 9px;
  }
  
  .about .price p .price9 {
    margin-right: 25px;
    margin-top: 9px;
  }

  .about .price p .p6 {
      margin-top: 9px;
      margin-right: 25px;
  }

  .about .price p .p7 {
    margin-top: 9px;
    margin-right: 14px;
  }

  .about .price {

    /* display: inline-block; */
    width: 20rem;
    margin-left: -55px;
  }

  .about .price p {
    /* background-color: red; */
    
    
    /* justify-content: space-between; */
    width: 75%;

    color: #e8e5d7;
  }




  /* .about .price {
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
  } */

  .about .price .button {
    margin: 15px auto;
  }

  .button-1,
  .button-2 {
    width: 4rem;
    margin-left: 10px;
    margin-top: -12px;
    padding: 25px 5px;
  }

  .about .price span {
    margin-top: 8px;
    /* width: 40%; */
  }


}


@media(max-width: 476px){
  .about .price {

    /* display: inline-block; */
    width: 20rem;
    margin-left: -36px;
  }
}

.about .price p .price2 {
  margin-right: 4rem;
  /* background-color: red; */
}

.about .price p .span {
  /* margin-top: 5px; */
  width: 97% !important;
}

.about .price p .price2Unit {
  width: 30%;
  /* background-color: red; */
}



@media(max-width: 376px) {
  .about .price p {
    /* background-color: red; */
    
    
    /* justify-content: space-between; */
    width: 70%;
    margin: auto;
    color: #e8e5d7;
  }

  .button-1,
  .button-2 {
    width: 4rem;
    margin-left: 10px;
    margin-top: -12px;
    padding: 25px 5px;
  }

  .about .price p .price1 {
    margin-top: 10px;
    margin-right: 37px;
  }

  .about .price p .price3 {
    margin-top: 10px;

    margin-right: 15px;
  }
  .about .price {

    width: 20rem;
    margin-left: -45px;
  }


  .about .price p .price2 {
    margin-right: 4.5rem;
    /* background-color: red; */
  }

  .about .price p .span {
    /* margin-top: 5px; */
    width: 97% !important;
  }

  .about .price p .price2Unit {
    width: 35%;
    /* background-color: red; */
  }

  .about .price p .p6 {
    margin-right: 28px;
  }

  .about .price p .p7 {
    margin-right: 17px;
  }

  /* .about .price p .price5 {
    margin-right: 25px;
  }

  .about .price p .price6 {
    margin-right: 25px;
    margin-top: 10px;
  }

  .about .price p .price7 {
    margin-right: 13px;
    margin-top: 10px;
  } */
}