.about .price p .price10 {
    margin-right: 8.4rem;
}


.about .price p .price11 {
    margin-right: 7.6rem;
}


@media(max-width: 992px)
{
    .about .price p .tprice9 {
        margin-right: 25px;
    }

    .about .price p .tprice10 {
        margin-right: 43px;
    }

    .about .price p .price10 {
        margin-right: 73px;
    }

    .about .price p .tprice11 {
        margin-right: 30px;
    }

    .about .price p .price11 {
        margin-right: 63px;
    }
}

@media(max-width: 768px)
{
    .about .price p .tprice9 {
        margin-right: 25px;
    }

    .about .price p .tprice10 {
        margin-right: 37px;
    }

    .about .price p .price10 {
        margin-right: 45px;
    }

    .about .price p .tprice11 {
        margin-right: 37px;
    }

    .about .price p .price11 {
        margin-right: 33px;
    }
}


@media(max-width: 576px)
{
    .bi-person-check {
        width: 75px;
        height: 75px;
        margin-top: -25px;
        /* margin-left: -5=2px; */
    }

    .about .price p .price10 {
        margin-right: 22px;
        margin-top: 10px;
        /* background-color: red; */
    }
    
    
    .about .price p .price11 {
        margin-right: 10px;
        margin-top: 9px;
    }
    
    .about .price p .tprice9 {
        margin-right: 25px;
    }

    .about .price p .tprice10 {
        margin-right: 16px;
        margin-top: 9.5px;
    }

    .about .price p .tprice11 {
        margin-right: 15px;
        margin-top: 9.5px;
    }


}


@media (max-width: 376px){


    .about .price p .price10 {
        margin-right: 25px;
    }

    .about .price p .price11 {
        margin-right: 13px;
        /* background-color: red; */
    }
}
