

.a2 {
    display: flex;
    margin-top: 50px;
    padding: 30px;
}

.a2 img {
  width: 40%;
}

/* .a2b {
  display: flex;
  border: 1px solid #E8E5D7;
}

.a2b img {
  width: 20%;
} */

.about {
  width: 100%;
  /* background-color: red; */
}

.react-carousel {
  width: 75%;
}

.a2 ul {

  list-style-type: disc;

}
.a2 .button button {
  transition: all 0.3s;
}


.a2 .button button:hover {
  background-color: #E8E5D7;
  color: #C4A962;
}

@media (max-width: 992px) {
  .a2 {
        
    display: block;
    margin-top: 50px;
    padding: 30px;

}



.a2 img {
  margin: auto;
  width: 90%;
}


.about {
  margin-top: 20px;
  width: 100%;
  /* background-color: red; */
}
  }
  
 
  @media (max-width: 576px) {

    .a2 {
        
        display: block;

    }

    .a2 .about {
        margin-top: 15px;
        
    }

    .a2 img {
      width: 100%;
    }
    
    .about {
      width: 100%;
      /* background-color: red; */
    }

    .react-carousel {
      width: 100%;
    }

    
  }