
.accordion-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #E8E5D7;
  
}


.accordion-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

.accordion-content a {
  background-color: #C4A962;
  transition: all 0.5s;
}

.accordion-content a:hover {
  background-color: #6C757D;
}

.a3 {
    display: flex;
    margin-top: 50px;
    /* background-color: red; */
    /* justify-content: space-between; */
}

.a3 img {
  width: 40%;
  height: 100%;
}

.about {
  width: 100%;
  /* background-color: red; */
}

.react-carousel {
  width: 75%;
}

.a3 .button {
  list-style-type: none;
}

.a3 .button button {
  transition: all 0.3s;
}

.a3 .button button:hover {
  background-color: #E8E5D7;
  color: #C4A962;
}

.a3 ul {

  list-style-type: disc;

}

@media (max-width: 992px) {
  .a3 {
        
    display: inline-block;
    /* background-color: red; */

    /* margin-top: 50px; */

}

.a3 .about {
    margin-top: 15px;
    
}

.a3 img {
  width: 100%;
}

.about {
  width: 100%;
  /* background-color: red; */
}
  }
  

  @media (max-width: 992px) {
    .react-carousel {
      width: 100%;
    }
  }

 
  @media (max-width: 576px) {

    .a3 {
        
        display: inline-block;
    /* margin-top: 50px; */



    }

    .a3 .about {
        margin-top: 15px;

        
    }

    .a3 img {
      width: 100%;
    }
    
    .about {
      width: 60%;
      /* background-color: red; */
    }

    .react-carousel {
      width: 100%;
    }

    .accordion-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
    
  }