

.a2 {
    display: flex;
    margin-top: 50px;
    padding: 30px;
}

.a2 img {
  width: 40%;
}

/* .a2b {
  display: flex;
  border: 1px solid #E8E5D7;
}

.a2b img {
  width: 20%;
} */

.about {
  width: 100%;
  /* background-color: red; */
}

.react-carousel {
  width: 75%;
}

.a2 ul {

  list-style-type: disc;

}
.a2 .button button {
  transition: all 0.3s;
}


.a2 .button button:hover {
  background-color: #E8E5D7;
  color: #C4A962;
}

@media (max-width: 992px) {
  .a2 {
        
    display: block;
    margin-top: 50px;
    padding: 30px;

}



.a2 img {
  margin: auto;
  width: 90%;
}


.about {
  margin-top: 20px;
  width: 100%;

}
  }
  
 
  /* @media (max-width: 576px) {

    .a2 {
        
        display: block;

    }

    .a2 .about {
        margin-top: 15px;
        
    }

    .a2 img {
      width: 100%;
    }
    
    .about {
      width: 100%;
      
    }

    .react-carousel {
      width: 100%;
    }

    
  } */



  @media (max-width: 576px) {

    .a2 {
        
        display: block;
        /* padding: 2px 10px; */
    }
  
  
    .a2 .about {
        margin-top: 15px;
        
    }
  
    .a2 img {
      width: 100%;
    }
  
    
    .about {
      width: 100%;
      /* background-color: red; */
    }
  
    .react-carousel {
      width: 100%;
    }
  
  
    .a2b {
      display: block;
    }
  
    .a2b img {
      width: 100%;
    }
  
    .a2b .card-1 {
      max-width: 100%;
      margin: auto;
    }
  
    .a2 .button {
      /* width: 100%; */
      text-align: center;
      margin-right: 50px;
    }
    
    /* .button1 {
      text-align: center;
      margin-top: 25px;
    }
     */
  
     .about li {
      display: flex;
      padding-top: 5px;
      margin: auto;
    }
  
    /* .about .bi-terminal, .bi-translate{
      width: 40px;
      height: 40px;
    } */
  
    .about .bi-cash-stack {
      width: 55px;
      /* height: 55px; */
      margin-left: -10px;
      
    }
  
    .about .price p {
      /* width: 55%; */
      margin: auto;
      color: #E8E5D7;
      /* background-color: red; */
    }
  
  
    .about .price span {
      margin-top: 8px;
      /* width: 40%; */
    }

    .bi-translate {
      width: 20px;
      height: 20px;
    }
  
  }