.about .price p .price12 {
  margin-right: 8.4rem;
  
}

.about .price p .price13 {
  margin-right: 7.6rem;
}


.about .price p .tprice12 {
  margin-right: 52px;
  margin-top: 3.5px;
}

.about .price p .tprice13 {
  margin-right: 42px;
}



@media(max-width: 992px)
{
  .about {
    margin-top: 30px;
  }

  .about .price p .price12 {
    margin-right: 72px;
  }

  .about .price p .price13 {
    margin-right: 62px;
  }

  .about .price p .tprice12{
    margin-right: 42px;
  }

  .about .price p .tprice13 {
    margin-right: 30px;
  }
}


@media(max-width: 768px){
  .about .price p .price12{
    margin-right: 43px;
  }

  .about .price p .price13{
    margin-right: 33px;
  }

  .about .price p .tprice14 {
    margin-right: 25px;
  }

  .about .price p .tprice12 {
    margin-right: 37px;
  }


  .about .price p .tprice13 {
    margin-right: 37px;
  }

}


@media(max-width: 576px)
{
  .about .price p .price12 {
    margin-right: 22px;
    margin-top: 10px;
  }

  .about .price p .price13 {
    margin-right: 10px;
    margin-top: 10px;
  }

  .about .price p .tprice14 {
    margin-right: 25px;
  }

  .about .price p .tprice12 {
    margin-right: 14px;
    margin-top: 10px;
  }

  .about .price p .tprice13 {
    margin-right: 14px;
    margin-top: 10px;
  }
}


@media(max-width: 376px)
{
  .about .price p .price12 {
    margin-right: 26px;
  }

  .about .price p .price13 {
    margin-right: 15px;
  }

  .about .price p .tprice12 {
    margin-right: 17px;
  }

  .about .price p .tprice13{
    margin-right: 17px;
  }

  .about .price p .tprice14 {
    margin-right: 28px;
  }
}